# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment files & secret configurations
.env
.env.*
!.env.example
*.env

# Build & execution log files
buildlog*.txt
runlog*.txt

# IntelliJ / Android Studio / IDE
*.iml
*.ipr
*.iws
.idea/
*.workspace
*.user

# VS Code
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
coverage/

# Android Gradle & Build artifacts
.gradle/
**/.gradle/
**/android/.gradle/
**/android/app/build/
**/android/build/
**/android/app/.cxx/
**/android/.cxx/
**/android/local.properties
**/local.properties
**/captures/

# Android outputs & binaries
*.apk
*.aab
*.dex
*.so
*.aar
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS artifacts
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.framework
**/ios/Flutter/flutter_assets/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner.xcodeproj/project.xcworkspace
**/ios/Runner.xcworkspace

# macOS desktop artifacts
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows desktop artifacts
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux desktop artifacts
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

